/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}



/* custom scroll bar */
::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .news, .skills, .craftsmen, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.news .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #05396B;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #5CDB94;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* loading styling */
.loader-wrapper {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #05396B;
    display:flex;
    justify-content: center;
    align-items: center;
    
  }
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #5CDB94;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #5CDB94;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar .logo{
    width: 30%;
}
.navbar .menu{
    width: 60%;
}
.navbar .extra-info{
    width: 20%;
}

.navbar.sticky{
    padding: 15px 0;
    background: #013870;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.logo img{
    width: 50%;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #EDF5E0;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.navbar .menu li a:hover,
.navbar .extra-info a:hover{
    color: #5CDB94;
}
.navbar.sticky .menu li a:hover,
.navbar.sticky .extra-info  a:hover{
    color: #5CDB94;
}

.navbar .extra-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: baseline;
}


.navbar .extra-info a{
    color: #EDF5E0;
}

.navbar .extra-info a:hover{
    color: #5CDB94;
}

.navbar .sm{
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-self: center;
}

.navbar .extra-info .contact-btn{
    width: 75%;
    padding: 5%;
    margin: 5%;
    background: #EDF5E0 ;
    color: #1F2821;
    text-align: center;
    align-self: center;
}

.navbar.sticky .contact-btn{
    background: #01E08F;
    color: #013870;
}

.navbar.sticky .extra-info .contact-btn:hover{
    background: #8DE4AF;
    color: #013870;
}

.navbar .extra-info .contact-btn:hover{
    background: #01E08F;
    color: #013870;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #5CDB94;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home section styling */
.home{
    display: flex;
    background: url("images/1.jpg") no-repeat;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #5CDB94;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #5CDB94;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border: 2px solid #5CDB94;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #5CDB94;
    background: none;
}

/* about section styling */
.about .title::after{
    content: "Кой и Защо?";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #5CDB94;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #5CDB94;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border: 2px solid #5CDB94;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #5CDB94;
    background: none;
}

/* purifier section styling */
.purifier{
    font-family: 'Poppins', sans-serif;
}

.purifier .max-width{
    max-width:  90%;
}

.purifier .above,
.purifier .bellow{
    display: flex;
}

.purifier .above{
    padding-bottom: 2.5%;
}

.purifier .bellow{
    padding-top: 2.5%;
}

.purifier p{
    font-style: italic;
    padding: 5%;
}

.purifier img{
    object-fit: cover;
    width: 50%;
}

/* news section styling */
.news{
    padding: 0;
    height: 50rem;
}

.news .slide-text{
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white; 
    font-family: sans-serif; 
    text-align: center; 
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
width: 100%;
}

.news .slide-text h2{
    margin-top: 0; 
    margin-bottom: 0.8vw;
    font-size: 5rem;
    font-weight: bold;
}

.news .slide-text p{
    font-size: 2vw; 
    font-weight: 100; 
    margin-top: 0;
}

 .craftsmen{
    color:#fff;
    background: #05396B;
    
}



.news .title::before,
.craftsmen .title::before{
    background: #fff;
}
.news .title::after,
.craftsmen .title::after{
    background: #05396B;
    content: "what i provide";
}
.news .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.news .serv-content .card:hover{
    background: #5CDB94;
}
.news .serv-content .card .box{
    transition: all 0.3s ease;
}
.news .serv-content .card:hover .box{
    transform: scale(1.05);
}
.news .serv-content .card i{
    font-size: 50px;
    color: #5CDB94;
    transition: color 0.3s ease;
}
.news .serv-content .card:hover i{
    color: #fff;
}
.news .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* craftsmen section styling */
.craftsmen .title::after{
    content: "Екипът ни";
}
.craftsmen .carousel .card{
    background: #222;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.craftsmen .carousel .card:hover{
    background: #5CDB94;
}
.craftsmen .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.craftsmen .carousel .card:hover .box{
    transform: scale(1.05);
}
.craftsmen .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.craftsmen .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #5CDB94;
    transition: all 0.3s ease;
}
.craftsmen .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #5CDB94!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #5CDB94!important;
}

/* contact section styling */

.contact{
    padding-top: 0;
}

.contact .max-width{
    padding-top: 100px ;

}

.contact .map{
    width: 70%;
}

.contact iframe{
    width: 100%;
    height: 100%;
}

.contact .svgcolor-light, .contact {
    background: #252934;
    color: white;
}

.contact .title::after{
    content: "свътжете се с нас";
    background: #252934;

}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #5CDB94;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: white;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #5CDB94;
  border: 2px solid #5CDB94;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: #5CDB94;
  background: none;
}
/* footer section styling */
footer{
    background: #1B242F;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}

footer h3{
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

footer .btn{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #252934;
    margin: 10px;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
  }
  footer .btn i{
    line-height: 60px;
    font-size: 26px;
    transition: 0.2s linear;
  }
  footer .btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
  }
  footer .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  footer .btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }


  #btn-fb{
    color: #3C5A99;
  }

  #btn-insta{
color: #C0009D;
  }

  #btn-utube{
    color: #FE0000;
  }


  #btn-fb::before{
    background: #3C5A99;
  }

  #btn-insta::before{
    background: #C0009D;
  }

  #btn-utube::before{
    background: #FE0000;
  }

  @keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 10%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
  }
  




/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #05396B;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .news .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .news .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}
